workflows/subworkflow_linkedin_people.json
{
  "name": "subworkflow_linkedin_people",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4864,
        -368
      ],
      "id": "383cb832-07ff-495b-921f-d079e9007518",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "=https://api18.unipile.com:14803/api/v1/users/{{ $json.provider_id }}?account_id={{ $json.account_id }}\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4256,
        -384
      ],
      "id": "3e1c1d61-39fe-4ea0-b9d6-7abdb700cd98",
      "name": "get peopleFromLinkedin",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nwJce3ibNPvi5jFU",
          "name": "Header Auth uj mediaschool"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71dd0292-56d7-47c1-b354-c10b6986f9a7",
              "name": "provider_id",
              "value": "={{ $json.provider_id }}",
              "type": "string"
            },
            {
              "id": "3031e9d2-25dc-4eed-b287-7048abde08e3",
              "name": "first_name",
              "value": "={{ $json.first_name }}",
              "type": "string"
            },
            {
              "id": "043af774-f9c7-4801-97db-e917f36b7c93",
              "name": "last_name",
              "value": "={{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "fa6cba74-fbd3-4614-929d-40e1ca5c7c8f",
              "name": "full_name",
              "value": "={{ $json.first_name }} {{ $json.last_name }}",
              "type": "string"
            },
            {
              "id": "9831c8be-7511-47cb-956a-b9926ad96c4b",
              "name": "headline",
              "value": "={{ $json.headline }}",
              "type": "string"
            },
            {
              "id": "a6abca77-fdb7-4c84-a607-1db91154c206",
              "name": "linkedin_url",
              "value": "=https://www.linkedin.com/in/{{ $json.public_identifier }}",
              "type": "string"
            },
            {
              "id": "de6e4f59-8d6a-43d2-a439-a69fcc29a605",
              "name": "profile_picture_url",
              "value": "={{ $json.profile_picture_url }}",
              "type": "string"
            },
            {
              "id": "5a62c328-6273-479c-81df-a02f88363d0c",
              "name": "company",
              "value": "",
              "type": "string"
            },
            {
              "id": "4a4fc9e3-6204-46b6-988b-c9b025aaeaf8",
              "name": "account_id",
              "value": "={{ $('filtrage:provideId').item.json.account_id }}",
              "type": "string"
            },
            {
              "id": "a07cf4dc-2bd1-405a-ad60-948c1d3d401c",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "d2249216-57f5-44aa-9826-e468e7e317f5",
              "name": "id",
              "value": "={{ $json.provider_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3968,
        -384
      ],
      "id": "53fba1c5-b856-4987-9555-be0dc5fa9b7d",
      "name": "transforme people"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3568,
        -368
      ],
      "id": "9cb78c99-1231-4651-ab6f-d58895840c1f",
      "name": "Merge5",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3632,
        96
      ],
      "id": "a5039bfc-9547-411f-845d-47548436a525",
      "name": "Merge3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "//mémoriser les ids déjà rencontré pour éviter les doublons\nconst uniques = Object.create(null);\n\n//stocker les resultats\nconst results_attendeeId = [];\n\n//vrai liste des messages => boucle pour chaque entrée\nfor (const wrapper of $input.all()) {\n\n  const chats = wrapper.json.items || [];\n\n  //boucle pour les chaque message\n  for(const chat of chats){\n    \n    const attendeeId = String(chat.attendee_provider_id || '');\n    const accountId = chat.account_id;\n    \n    if (attendeeId && !uniques[attendeeId] ){\n      uniques[attendeeId] = true; \n  \n      results_attendeeId.push({\n        json: {\n          provider_id: attendeeId,\n          account_id: accountId\n        }\n      });\n    }\n  }\n}\n\nconsole.log(results_attendeeId)\nreturn results_attendeeId;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4256,
        96
      ],
      "id": "2c36ad9d-0084-4530-97c3-8cfc22f470ca",
      "name": "récup attendeeId",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "//mémoriser les ids déjà rencontré pour éviter les doublons\nconst uniques = Object.create(null);\n\n//stocker les resultats\nconst results = [];\n\n//vrai liste des messages => boucle pour chaque entrée\nfor (const wrapper of $input.all()) {\n\n  const messages = wrapper.json.items || [];\n\n  //boucle pour les chaque message\n  for(const message of messages){\n    \n    const senderId = String(message.sender_id || '');\n    const accountId = message.account_id;\n    \n    if (senderId && !uniques[senderId] ){\n      uniques[senderId] = true; \n  \n      results.push({\n        json: {\n          provider_id: senderId,\n          account_id: accountId\n        }\n      });\n    }\n  }\n}\n\nconsole.log(results)\nreturn results;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        -96
      ],
      "id": "324297dd-62ea-499b-af63-8d51838b27b9",
      "name": "récup senderId",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const uniques =  Object.create(null);;\nconst results = [];\n\nfor (const item of items){\n  const id = String(item.json.provider_id || '');\n\n  const isPerson = id.startsWith('ACoA');\n  const isOrg = /^[0-9]+$/.test(id); //uniquement chiffres => organisme\n\n  if ((isPerson || isOrg) && item.json.account_id && !uniques[id]) {\n    uniques[id] = true;\n    results.push({ json: item.json });\n  }\n\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4528,
        -368
      ],
      "id": "55db994e-a0d2-44b2-899d-84ed1bcb4fc0",
      "name": "filtrage:provideId"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5d9a11b2-8035-4e94-befa-f1d480b90ba5",
              "leftValue": "={{ $json.hasOwnProperty(\"row_id\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3376,
        -352
      ],
      "id": "e359315a-effc-4d86-815c-e8eb1c30c261",
      "name": "is it in table people?",
      "alwaysOutputData": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, account_id, row_id\nFROM linkedin_people\nWHERE id = '{{ $json.id }}'\nLIMIT 100;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3760,
        -544
      ],
      "id": "c8962a93-6539-4b62-96b5-7ae7097c2d89",
      "name": "Execute a SQL query_people",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Fm2HaFYwdZfG8QJD",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "tableId": "linkedin_people",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3120,
        -320
      ],
      "id": "057f1eee-ff7d-4722-923c-f5f2b7b0f4fb",
      "name": "Create a row-sauvegarde",
      "credentials": {
        "supabaseApi": {
          "id": "uxgxQV9kFrB1O7j6",
          "name": "Supabase account utilisé"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "get peopleFromLinkedin": {
      "main": [
        [
          {
            "node": "transforme people",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transforme people": {
      "main": [
        [
          {
            "node": "Execute a SQL query_people",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "is it in table people?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "filtrage:provideId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "récup attendeeId": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "récup senderId": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtrage:provideId": {
      "main": [
        [
          {
            "node": "get peopleFromLinkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is it in table people?": {
      "main": [
        [],
        [
          {
            "node": "Create a row-sauvegarde",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query_people": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a589df1e-447b-451b-9f3b-85389d98914c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eb0477ed3e4b5967da0cdec41dce1dbcdad844ae6c3945896ab9f49ee6bda85f"
  },
  "id": "YSwXkjjctyFha2Ho",
  "tags": []
}